spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

jwt:
  secret: ${JWT_SECRET}
  expiration-ms: ${JWT_EXPIRE_MS:86400000}
  refresh-expiration-ms: ${JWT_REFRESH_EXPIRE_MS:2592000000}

app:
  cors:
    allowed-origins: ${APP_CORS_ALLOWED_ORIGINS:https://nekonihongos.vercel.app}
