server:
  port: ${PORT:8080}
  error:
    include-message: never
    include-binding-errors: never
    include-stacktrace: never
    include-exception: false
    whitelabel:
      enabled: false
  servlet:
    session:
      cookie:
        secure: true
        http-only: true
        same-site: strict

spring:
  profiles:
    default: prod

  sql:
    init:
      mode: never

  mvc:
    throw-exception-if-no-handler-found: true
    static-path-pattern: /static/**

  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    show-sql: false
    open-in-view: false

    hibernate:
      ddl-auto: validate
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl

    properties:
      hibernate:
        format_sql: false

  devtools:
    restart:
      enabled: false
    livereload:
      enabled: false

  web:
    resources:
      add-mappings: true

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: when-authorized

springdoc:
  swagger-ui:
    enabled: false
  api-docs:
    enabled: false

logging:
  level:
    root: INFO
    # com.nekonihongo.backend: INFO
    # org.springframework.security: WARN
    org.hibernate.SQL: WARN
    org.springframework.web: WARN
    org.springframework.transaction: WARN
    org.springframework.orm.jpa: WARN
    com.nekonihongo.backend: DEBUG
    org.springframework.security: DEBUG
